* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family: Arial,sans-serif;
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px 30px;
}

.logo a {
    color: rgb(18, 17, 17);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links  {
    list-style: none;
    display: flex;
}
.nav-links li{
    margin-left: 2opx;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.nav-button .button {
    background-color: #fe0808;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
}

.nav-button .button:hover{
    background-color: #a2a2a2;
}